<mat-card>
  <mat-card-content>
    <mat-table [dataSource]="dataSource">
      <ng-container cdkColumnDef="name">
        <mat-header-cell *cdkHeaderCellDef>Name</mat-header-cell>
        <mat-cell *cdkCellDef="let row">{{ row.name }}</mat-cell>
      </ng-container>

      <ng-container cdkColumnDef="grade">
        <mat-header-cell *cdkHeaderCellDef>Grade ({{ sumGrades | number:'1.1-1' }})</mat-header-cell>
        <mat-cell *cdkCellDef="let row">{{ row.grade | number:'1.1-1' }}</mat-cell>
      </ng-container>

      <mat-header-row *cdkHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *cdkRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
  </mat-card-content>
</mat-card>
