.wrapper-toolbar-button {
  position: relative;

  .add-player {
    position: absolute;
    right: 20px;
    top: 42px;
  }
}

mat-table {
  .mat-header-row,
  .mat-row {
    height: 56px;
  }

  .grade {
    width: 50px;
  }

  .mat-column-select {
    &.cell-select {
      padding-left: 16px;
    }
    &.cell-select:first-of-type {
      padding-left: 16px;
    }
    + .cell-select {
      padding-left: 16px;
    }
  }

  .delete {
    color: grey;
    cursor: pointer;
  }
}

.no-player-atm {
  margin-top: 25px;
  text-align: center;
}
