.wrapper-toolbar-button {
  position: relative;

  .add-player {
    position: absolute;
    right: 20px;
    top: 42px;
  }
}

md-table {
  .wrapper-grade {
    width: 50px;
  }

  .delete {
    color: grey;
    cursor: pointer;
  }
}

.no-player-atm {
  margin-top: 25px;
  text-align: center;
}
