<div fxLayout="column" fxFill>

  <div class="wrapper-toolbar-button">
    <mat-toolbar color="accent">
      Players: {{ (selectedPlayers$ | async).length }} / 10
    </mat-toolbar>

    <button
      mat-mini-fab
      color="primary"
      *ngIf="!isNewPlayerFormGroupVisible"
      (click)="openNewPlayerForm()"
      class="add-player"
    >
      <mat-icon>add</mat-icon>
    </button>
  </div>

  <div fxFlex class="overflow-auto">
    <form
      *ngIf="isNewPlayerFormGroupVisible"
      [formGroup]="newPlayerFormGroup"
      (ngSubmit)="addNewPlayer(newPlayerFormGroup.value)"
      fxLayout="column"
      fxLayoutAlign="center center"
    >
      <mat-form-field appearance="standard">
        <mat-label>Name</mat-label>
        <input id="nameNewPlayer" matInput type="text" formControlName="name" autocomplete="off">
      </mat-form-field>

      <div fxLayout="row">
        <button mat-button>Add</button>
        <button mat-button (click)="isNewPlayerFormGroupVisible = false">Cancel</button>
      </div>
    </form>

    <div *ngIf="!isNewPlayerFormGroupVisible && nbPlayers === 0" class="no-player-atm">
      <p>You don't have any player at the moment</p>
      <p>You can <span (click)="openNewPlayerForm()" class="color-primary cursor-pointer"><b>add one</b></span></p>
    </div>

    <mat-table *ngIf="nbPlayers && playersFormGroup" [dataSource]="dataSource" [trackBy]="trackByName" [formGroup]="playersFormGroup">
      
      <ng-container cdkColumnDef="name">
        <mat-header-cell cdk-header-cell *cdkHeaderCellDef>Name</mat-header-cell>
        <mat-cell cdk-cell *cdkCellDef="let row" class="name">
          {{ row.name }}
        </mat-cell>
      </ng-container>

      <ng-container cdkColumnDef="grade">
        <mat-header-cell cdk-header-cell *cdkHeaderCellDef fxLayoutAlign="start center">Grade</mat-header-cell>
        <mat-cell cdk-cell *cdkCellDef="let row" fxLayoutAlign="start center" class="grade-select">
          <mat-form-field appearance="standard" class="grade">
            <input matInput type="number" step="0.1" [formControlName]="row.name + '-grade'">
          </mat-form-field>
        </mat-cell>
      </ng-container>

      <ng-container cdkColumnDef="select">
        <mat-header-cell cdk-header-cell *cdkHeaderCellDef fxLayoutAlign="start center">Select</mat-header-cell>
        <mat-cell cdk-cell *cdkCellDef="let row" fxLayoutAlign="start center" class="cell-select">
          <mat-checkbox [formControlName]="row.name + '-is-selected'"></mat-checkbox>
        </mat-cell>
      </ng-container>

      <ng-container cdkColumnDef="remove">
        <mat-header-cell cdk-header-cell *cdkHeaderCellDef fxLayoutAlign="start center">Remove</mat-header-cell>
        <mat-cell cdk-cell *cdkCellDef="let row" fxLayoutAlign="start center" class="cell-remove">
          <button mat-icon-button (click)="removePlayer(row)" class="delete"><mat-icon>delete</mat-icon></button>
        </mat-cell>
      </ng-container>

      <mat-header-row *cdkHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *cdkRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
  </div>

</div>
