<div class="wrapper-toolbar-button">
  <md-toolbar color="accent">
    Players: {{ (selectedPlayers$ | async).length }} / 10
  </md-toolbar>

  <button
    md-mini-fab
    color="primary"
    *ngIf="!isNewPlayerFormGroupVisible"
    (click)="openNewPlayerForm()"
    class="add-player"
  >
    +
  </button>
</div>

<form
  *ngIf="isNewPlayerFormGroupVisible"
  [formGroup]="newPlayerFormGroup"
  (ngSubmit)="addNewPlayer(newPlayerFormGroup.value)"
  fxLayout="column"
  fxLayoutAlign="center center"
>
  <md-input-container fxFlex>
    <input #nameNewPlayer mdInput type="text" placeholder="Name" formControlName="name" autocomplete="off">
  </md-input-container>

  <div fxLayout="row">
    <button md-button>Add</button>
    <button md-button (click)="isNewPlayerFormGroupVisible = false">Cancel</button>
  </div>
</form>

<md-table [dataSource]="dataSource" [trackBy]="trackByName" *ngIf="playersFormGroup" [formGroup]="playersFormGroup">
  <ng-container cdkColumnDef="grade">
    <md-header-cell *cdkHeaderCellDef>grade</md-header-cell>
    <md-cell *cdkCellDef="let row">
      <md-input-container class="grade">
        <input mdInput type="number" step="0.1" [formControlName]="row.name + '-grade'">
      </md-input-container>
    </md-cell>
  </ng-container>

  <ng-container cdkColumnDef="name">
    <md-header-cell *cdkHeaderCellDef>Name</md-header-cell>
    <md-cell *cdkCellDef="let row" class="name">
      {{ row.name }}
    </md-cell>
  </ng-container>

  <ng-container cdkColumnDef="select">
    <md-header-cell *cdkHeaderCellDef>select</md-header-cell>
    <md-cell *cdkCellDef="let row">
      <md-checkbox [formControlName]="row.name + '-is-selected'"></md-checkbox>
    </md-cell>
  </ng-container>

  <ng-container cdkColumnDef="remove">
    <md-header-cell *cdkHeaderCellDef>x</md-header-cell>
    <md-cell *cdkCellDef="let row">
      <span (click)="removePlayer(row)">x</span>
    </md-cell>
  </ng-container>

  <md-header-row *cdkHeaderRowDef="displayedColumns"></md-header-row>
  <md-row *cdkRowDef="let row; columns: displayedColumns;"></md-row>
</md-table>
