<div fxLayout="column" fxFill>
  <mat-toolbar color="primary">
    <button mat-icon-button type="button" (click)="toggleSidenav()">
      <mat-icon>menu</mat-icon>
    </button>

    <span class="bold">Compose teams</span>

    <span *ngIf="nbGames$ | async as nbGames">
      &nbsp;-
      <span *ngIf="nbGames !== 0" class="color-accent">
        {{ nbGames }} games available
      </span>
    </span>
  </mat-toolbar>

  <mat-sidenav-container fxFlex>
    <mat-sidenav #sidenav [mode]="sidenavType" [opened]="isSidenavOpened">
      <app-players></app-players>
    </mat-sidenav>

    <div *ngIf="selectedPlayers$ | async as selectedPlayers" fxFill>
      <app-games *ngIf="selectedPlayers.length === 10; else need10Players"></app-games>

      <ng-template #need10Players>
        <app-need-10-players [selectedPlayers]="selectedPlayers"></app-need-10-players>
      </ng-template>
    </div>
  </mat-sidenav-container>
</div>
