<div fxLayout="column" fxFill>
  <md-toolbar color="primary">
    <button md-icon-button (click)="toggleSidenav()">
      <md-icon>menu</md-icon>
    </button>

    <span class="bold">Compose teams</span>

    <span *ngIf="nbGames$ | async as nbGames">
      &nbsp;-
      <span *ngIf="nbGames !== 0" class="color-accent nb-games">
        {{ nbGames }} games available
      </span>
    </span>
  </md-toolbar>

  <md-sidenav-container fxFlex>
    <md-sidenav #sidenav [mode]="sidenavType" [opened]="isSidenavOpened">
      <app-players></app-players>
    </md-sidenav>

    <div *ngIf="selectedPlayers$ | async as selectedPlayers" fxFill>
      <app-games *ngIf="selectedPlayers.length === 10; else need10Players"></app-games>

      <ng-template #need10Players>
        <app-need-10-players [selectedPlayers]="selectedPlayers"></app-need-10-players>
      </ng-template>
    </div>
  </md-sidenav-container>
</div>
